     *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #ffffff;
}

.basic{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}

.container{
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
}

.box{
    background: #e0dbdb;
    width: 300px;
    padding: 30px 25px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(10, 10, 10, 0.1);
    box-shadow: inset 0 0 10px rgba(0,0,10,10.1);
    transition: 0.3s ease;
}

.box:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 30px rgba(10, 10, 10, 0.15);
    
}

.box h2{
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.box h1{
    font-size: 36px;
    color: #4a4aff;
    margin-bottom: 20px;
}

.box h1 span{
    font-size: 18px;
    color: #140f0f;
}

.box p{
    font-size: 16px;
    color: #3f3d3d;
    margin: 10px 0;
}

.box button{
    margin-top: 20px;
    padding: 12px 25px;
    background: #4a4aff;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.box button:hover{
    background: #2b2bff;
}

